*.jpg
*.png
*.ply
*.pcd
*.pyc
*.data
.vscode
__pycache__
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Assets/AssetStoreTools*
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.vs
*.pidb.meta
*.pdb.meta
sysinfo.txt
*.unitypackage
Assets/StreamingAssets/crashlytics-build.properties
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.ply
*.mp4
*.avi
*.png
*.jpg
*.pth
